@baseColor: #4B4E4F;
@body-bg: #919799;
@color: #fff;
@radius: 5px;
@nav-pills-active-link-hover-color: #000;
@nav-pills-active-link-hover-bg: #fff;

@import "config.less";



/* STYLE */

body {
  background-color: @body-bg;
    font-family: AsapRegular, sans-serif;
    font-size: 11pt;
  
}

header {
    max-width: 750px;
    max-height: 1000px;
    background-color: @baseColor;
}


.nav-pills {
	 > .active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        background-color: @nav-pills-active-link-hover-bg;
        
      }
	} 
}

.content{
  margin-left: 25%;
  margin-right: 25%;
}

p {
  max-width: 750px;
}




/* NAV */

nav {
    max-width: 750px;
    height: 45px;
    .border;
    .shadow;
        ul {
            padding-left: 10%;
            margin: 0;
            li {
                display: inline;
                a {
                    text-decoration: none;
                    display: inline-block;
                    float: left;
                    width: 156px;
                    height: 45px;
                    text-align: center;
                    line-height: 300%;
                    .textcolor(#f2f2f2); // You can change this line
                    .gradient;
                    &:hover {
                        .hovereffect;
                    }
                }
            }
            li:first-child a {
                border-left: none;
            }
            li:last-child a {
                border-right: none;
            }
        }
    }



